* {
    margin: 0;
}

header {
    background-image: url('images/bgk-header.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

nav {
    /* background-color: red; */
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
}


.navleft {
    /* border: 2px solid green; */
    /* background-color: red; */
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
}

.navleft svg {
    /* border: 2px solid green; */
}

.navleft h5 {
    color: turquoise;
    padding-left: 0.5em;
    font-size: 2em;
}

    .navright {
        /* border: 2px solid green; */
        /* background-color: blue; */
        width: 50%;
        padding-right: 10px;
    }

    nav ul {
        /* border: 2px solid green; */
        display: flex;
        justify-content: space-between;
    }
    
    nav ul li {
        /* border: 2px solid green; */
        list-style: none;
    }
    

    nav ul li a {
        color: white;
        
    }

    header {
        /* border: 2px solid orange; */
        padding-bottom: 1em;
    } 
main {
    /* background-color: yellowgreen; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#hero-section {
    color: white;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 10em 20em;
}

#hero-section h1 {
    display: flex;
    justify-content: center;
}

#hero-section p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

#hero-section hr {
    width: 30px;
    border: 1px solid turquoise;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

#hero-section button {
    border: 1px solid turquoise;
    background-color: transparent;
    color: turquoise;
    display: flex;
    justify-content: center;
}

#our_story_section {
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5em 10em;
}

#our_story_section button {
    border: 1px solid turquoise;
    background-color: transparent;
    color: turquoise;
    display: flex;
    justify-content: center;
}

.our_story_image {
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    margin: 2em;
}

.our_story_text {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 2em;
}

.our_story_text p {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em; 
}
#watch-section {
    /* border: 2px solid red;  */
    background-image: url('images/bgk-middle.png');
    background-repeat: no-repeat;
    background-position: center;
    min-width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.middle {
    /* border: 2px solid red; */
    max-width: 9em;
    max-height: 8em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
    margin: 5em;
}

#watch-section h5 {
color: #fff;
}

.wrap{
    background-color: #fff;
    height: 300px;
    position: relative;
}

.circle{
    border: 1px solid #fff;
    opacity: 0.5;
    border-radius: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50px;
    margin: -25px 0 0 -25px;
}
.circle_inner{
    position: relative;
    height: 100%;
    border: 1px solid #fff;
}
.circle_inner:before{
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -7px;
}


/* Wale */

#expertise-section item {
    display: flex;
    flex-direction: column;

}  


#expertise-section img {
    display: flex;
    justify-content: center;
    margin:30px;
 
    
}

#expertise-section h2 {
    display: flex;
font-size: small
align-items: center;
justify-content: center;

}
.container { 

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 80px;
    


}

.item  {
display: flex;
border:1px solid rgba(169, 169, 169, 0.5);
  align-items: center;
flex-direction: column;
margin: 6px;

}

.item h3 p {

    display: flex;
    justify-content: center;


}

#expertise-section p {
    display: flex;
    justify-content: space-around;
    margin: 23px;
}

#team-section {
    background-image: url(./images/bgk-header.png);
    width: 100%;
    height:580px ;  
}
    
.team-text {
    display: flex;
    flex-direction: column;
    padding: 3.0em;
    color: white;
    align-items: center;
}
.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.icons {
display: flex;
justify-content: center;
align-items: center;
}

button {
    color: aqua;
    font-style: normal;
    font-size: x-small;
    margin: 6px;


}


.white-container {
    display: flex;
    justify-content: center;
    flex-direction: row; /* Align items in a column */
    align-items: center;
    margin: 20px;
}
 

.ending {
    display: flex;
    margin: 2px;
    padding: 91px;
    justify-content: center;
    flex-direction: row;

}

.hiring {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hiring p {
    display: flex;
    margin: 4px;
    padding:20px;
    color: white;
    font-size: x-small;
}

.hiring h3 {
    display: flex;
    color: aqua;
    justify-content: center;
    align-items: center;
    border: 2px solid aqua;
    margin: 7px;
    
    
   
}
.box {
    display: flex;
    justify-content: space-evenly;
    width: 100px;
    height: 135px;
    border: 2px solid #ccc;
    margin: 5px;
    background-color: white;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;

    
}


.horizontal-name {
    display: flex;
    padding:150px;
    color:white;
}

.horizontal-name span {
    /* border: 1px solid grey; */
}

.vertical-name{
    display: flex;
    justify-content: center;
}

.position {
    display: flex;
    justify-content: center;
    align-items: center;

}

.name-part {
    margin-right: 5px;
    padding: 23;
}
/* .name { */
    display: flex;
    justify-content:space-between;
    align-items: center;
    color: black;
    margin: 170px;
    font-size:small;
    flex-wrap: wrap;
    justify-items: center;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: row


}

.name h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 103px;

}

.box h2 p{

    display: flex;


}
.under-text {
    display: flex;
    flex-direction: column;
    padding: 0.2;
    color: white;
    align-items: center;

    
}

.container-item p {
    

}

#contact_client-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;

}


.form-container {
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
    margin: 2px;
}

/* .form-container h2 { */
    /* display: flex; */
    
.form-group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding: 23px
    flex-direction: row
    margin: 0.4em;
    
    
}

textarea {
display: flex;
margin:0.9em;
    display: flex;
    align-items: center
    justify-content: center;
    padding: 1.5em
    
    

}

.send-button{
    background-color: azure;
}
button {
    border: 0.3em solid rgb(0, 255, 247);
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    width: 6.9em;
    height: 2.3em;
    display: flex;
    align-items: center;
    margin: 0.9em;
    text-align: center;
    justify-content: space-evenly
}
.logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction:row;
}

#brands h2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center ;
    padding: 3.6em;
    margin: 65px;
}
/* .brands h2 { */
    display: flex;
    margin: 0px;
}

.logo-items {
    margin-top: 9px;
    margin: 3em;
    padding:0;
    width: 87px;
    display: flex;
    justify-content: space-between;
   align-items: center;
   flex-direction: column

}

#contact_client-section h2 {
    display: flex;
    flex-wrap: wrap;
   color: black;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: medium;
   margin: 2em;
   list-style: none;
}

.message-box{
display: flex;
 justify-content: center; 
margin: 0.4em;

}

.message-box h2 {
    margin: 13%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 1px;
    font-size: medium

    
    
}
.our-client {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    margin: 10%;
    padding: 0.3em;
}

footer {
    background-image: url(./images/bgk-footer.png);
    margin: 10px auto;
    display: flex;
    flex-direction: column
    align-items: center;
    padding: 1.5em;
    font-size: x-small;
    flex-wrap: wrap;
    

}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;


}

.icon-items {
    margin: 12%;
   flex-wrap: wrap;


}

.footer-container {
    display: flex;
    justify-content:center;
    font-size: medium;
   font-size: medium;

}

.left-image {
flex-direction: row;
margin: 0px;
font-size: small;
padding:70px;

}

.left-image p {
    flex-wrap: wrap;
    align-items: center;
    padding: 1.6em;
    display: flex;
    color: white;
    flex-direction: row
}

::placeholder {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
   font-size: medium;
   font-family: Arial, Helvetica, sans-serif;
   padding: 0.9em;

}
.mid-bar h2 {
    display: flex;
   font-family: Arial, Helvetica, sans-serif;
    justify-content: flex-start;
    padding: 11.4px;
    font-size: medium;
    flex-wrap: wrap;
    align-items: center;
    font-size: small;

}

.mid-bar {
   padding: 55px;
   margin: 35px;

}

.right-bar h2 {

    margin: 1px;
    font-size: small;
    color: white;

}
.right-bar img {

   width: 1.9em;

   
}
.mid-bar h3 {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-small;
    color:white
}

.mid-bar h2 {
    color: white;
}

.right-bar h2  {
    display: flex;
    font-size: medium;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
.right-bar p {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-small;
    color: white;

}
.sub-column form {
    display: flex;
    justify-content: center;
    margin: 6px;


}

.sub-column {


}
.right-bar .sub-column {
    display: flex;
    margin: 1px;
    justify-content: center;
}
.right-bar input {
    background-color:white;
    opacity: 45%;
    margin: 12px;
    font-size: small;
    display: flex;
    padding: 0;

}

.right-bar h2 {
    display: flex;
    font-size: small;
    margin: 12px;
    padding: 67px;
}

input {
    opacity: 70%;
    display: flex;
    margin: 15px;

}

.nav-footer {
    display: flex;
    padding: 1px;
    flex-direction: row;
    justify-content: space-around;
    margin: 23px;
    color: white;
    align-items: center;
    


}

img {
    margin: 15px;
}
.footer-list {
display: flex;
font-family: Arial, Helvetica, sans-serif;
flex-wrap: wrap;
 color: white;
 justify-content: space-around
}


nav a {
    display: flex;

    color:white
}

.taj-text{
    display: flex;
    margin: px;
    color: aquamarine;
}

.tajam img {
    display: flex;
    margin: 0px;
    padding: 0px;
}
nav {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1.2em;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row
    
}
