* {
    margin: 0;
}

header {
    background-image: url('images/bgk-header.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

nav {
    /* background-color: red; */
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
}


.navleft {
    /* border: 2px solid green; */
    /* background-color: red; */
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
}

.navleft svg {
    /* border: 2px solid green; */
}

.navleft h5 {
    color: turquoise;
    padding-left: 0.5em;
    font-size: 2em;
}

    .navright {
        /* border: 2px solid green; */
        /* background-color: blue; */
        width: 50%;
        padding-right: 10px;
    }

    nav ul {
        /* border: 2px solid green; */
        display: flex;
        justify-content: space-between;
    }
    
    nav ul li {
        /* border: 2px solid green; */
        list-style: none;
    }
    

    nav ul li a {
        color: white;
        
    }

    header {
        /* border: 2px solid orange; */
        padding-bottom: 1em;
    } 
main {
    /* background-color: yellowgreen; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#hero-section {
    color: white;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 10em 20em;
}

#hero-section h1 {
    display: flex;
    justify-content: center;
}

#hero-section p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

#hero-section hr {
    width: 30px;
    border: 1px solid turquoise;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

#hero-section button {
    border: 1px solid turquoise;
    background-color: transparent;
    color: turquoise;
    display: flex;
    justify-content: center;
}

#our_story_section {
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5em 10em;
}

#our_story_section button {
    border: 1px solid turquoise;
    background-color: transparent;
    color: turquoise;
    display: flex;
    justify-content: center;
}

.our_story_image {
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    margin: 2em;
}

.our_story_text {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 2em;
}

.our_story_text p {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em; 
}
#watch-section {
    /* border: 2px solid red;  */
    background-image: url('images/bgk-middle.png');
    background-repeat: no-repeat;
    background-position: center;
    min-width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.middle {
    /* border: 2px solid red; */
    max-width: 9em;
    max-height: 8em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
    margin: 5em;
}

#watch-section h5 {
color: #fff;
}

.wrap{
    background-color: #fff;
    height: 300px;
    position: relative;
}

.circle{
    border: 1px solid #fff;
    opacity: 0.5;
    border-radius: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50px;
    margin: -25px 0 0 -25px;
}
.circle_inner{
    position: relative;
    height: 100%;
    border: 1px solid #fff;
}
.circle_inner:before{
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -7px;
}


/* Wale */

#expertise-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}   


#expertise-section img {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 70px;
    align-items: center;
}

#expertise-section h2 {
display: flex;
font-size: x-large;
align-items: center;
justify-content: center;
margin-bottom: 0.9em;
margin-top: 0.9em;
margin-right: 2.5em;

}
.container { 

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


}
.item  {
    display: flex;
    margin: 4%;
    border-radius: 29px;
    border: 2px solid rgb(195, 26, 26);
    justify-content: space-between;
    align-items: center;
    flex-direction: column

} 

.item h3{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 80px;
    justify-content: space-between;


}



#expertise-section p {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    font-size: 0.8em;
    margin: 4px;
    width: 100%;
    margin-bottom: 2px;
}

#team-section {
    background-image: url("./images/bgk-header.png");
    width: 100%;
   padding: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 2em 4em;
    justify-content: space-between;
    margin-bottom: 2.3em;
}

#team-section h2 {
    display: flex;
    justify-content: center;
background-color: aqua;

}
#team-section p {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}
.team-container  {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.container-item{
    height: 250px;
    background-color: aqua;
    align-items: center;
    background-color: white;
    border: 3px solid #ddd;
    box-sizing: border-box 0.02em;
    justify-content: space-around;

}

.container-item h3 {
    display: flex;
    justify-content:center;
    padding: 2.5em;

}

.container-item p {
    display: flex;
    margin-bottom: 9em;
    justify-content: center;
    padding: 2.5em;
    color: rgb(46, 58, 58);
    border: solid white 2px;
    border-radius: 2px;
    border width: 2px
    ;

}
#contact_client-section {
    display: flex;
    justify-content: center;
    padding: 0px;
    flex-direction: row;
    margin-bottom: 0%;
    max-width: 100%;
    height: 12%;

}

.form-container {
    display: flex;
    margin-left: 3em 8em;
    padding: 2%;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 9px;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding: 12%
    flex-direction: row
    margin: 0.2em;
    
    
}

textarea {
display: flex;
margin:0.9em;
    display: flex;
    align-items: center
    justify-content: center;
    padding: 1.5em
    
    

}

.send-button{
    background-color: azure;
}
button {
    border: 0.1em solid rgb(0, 255, 247);
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    width: 6.7em;
    height: 2.3em;
    display: flex;
    align-items: center;
    margin: 0.9em;
    text-align: center;
    justify-content: space-evenly
}
.logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction:row;
}

#brands{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center ;
    padding: 2.4em;
    margin: 1%;
}

.logo-items {
    margin-top: 9px;
    margin: 3em;
    padding:0;
    width: 87px;
    display: flex;
    justify-content: space-between;
   align-items: center;
   flex-direction: column

}

#contact_client-section h2 {
    display: flex;
    flex-wrap: wrap;
   color: black;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: medium;
   margin: 2em;
   list-style: none;
}

.message-box{
    display: flex;
 justify-content: center; 
 padding: 0.2em;
 margin-top: 2%;

}

.message-box h2 {
    margin: 13%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 1px;
    font-size: medium

    
    
}
.our-client {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    margin: 40%;
}

footer {
    background-image: url(./images/bgk-footer.png);
    margin: 10px auto;
    display: flex;
    flex-direction: column
    align-items: center;
    padding: 1.5em;
    font-size: x-small;
    flex-wrap: wrap;
    

}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;


}

.icon-items {
    margin: 12%;
   flex-wrap: wrap;


}

.footer-container {
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: small;
    display: flex;
   color: white;

}

footer p {
    display: flex;
font-size: small;
list-style: none;
margin: 10px;
}

.left-image {
flex-direction: row;
justify-content: center;

}

.left-image p {
    flex-wrap: wrap;
    align-items: center;
    padding: 1.6em;
    display: flex;
    flex-direction: row
}

::placeholder {
    display: flex;
    flex-wrap: wrap;
    margin: 5%;
   font-size: medium;
   font-family: Arial, Helvetica, sans-serif;
   padding: 0.3em;

}
.mid-bar h2 {
    display: flex;
   font-family: Arial, Helvetica, sans-serif;
    justify-content: flex-start;
    padding: 11.4px;
    font-size: medium;
    flex-wrap: wrap;
    align-items: center;
    font-size: small;

}

.mid-bar {
    margin: 19px;

}


.right-bar img {
   border:0.1em solid white;
}
.mid-bar h3 {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-small;
}

.right-bar h2  {
    flex-wrap:wrap ;
    font-size: small;
    justify-content: center;
display: flex;
font-family: Arial, Helvetica, sans-serif;
justify-content:center
padding: 8px;
flex-wrap:wrap;
align-items: center
}
.sub-column form {
    display: flex;
    flex-direction: row;
    margin: 15px;
    padding: 7em;

   
}

input {
    opacity: 70%;
    display: flex;
    margin: 15px;

}

.nav-footer {
    display: flex;
    padding:1.7em;
    flex-direction: row;
    


}

img {
    margin: 15px;
}
.footer-list {
display: flex;
flex-wrap: wrap;
 color: white;
 justify-content: space-around
 align-items: flex-end;
    }


nav a {
    display: flex;
    flex-direction: row;
    color:white
}


.tajam h3 {
    display: flex;
    margin: 2px;
    padding:1.8em;


}
    
nav {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1.2em;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row
    
}
